<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <!--<add name="ProNetTestEntities" connectionString="metadata=res://*/DataAccess.CeeeEntityModel.csdl|res://*/DataAccess.CeeeEntityModel.ssdl|res://*/DataAccess.CeeeEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=E101354TC0256S\pronet;User ID=DIR\okelmar;Password=epsilonX505;initial catalog=ProNetTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="ProNetTestEntities" connectionString="metadata=res://*/DataAccess.CeeeEntityModel.csdl|res://*/DataAccess.CeeeEntityModel.ssdl|res://*/DataAccess.CeeeEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=E101354TC0256S\pronet;initial catalog=ProNetTest;integrated security=True;user id=DIR\okelmar;password=epsilonX505;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>