@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="main-content-wrapper">
            <h2 style="margin-left: 20px; margin-top: 7px;">Error Occured on the Update</h2>

            <div id="MainSection" style="margin-left:20px; color:white; font-weight: bold; font-size:large;">
                <p>An Error occured. Please contact site administration.</p>
            </div>

            <div id="RightColSection">
                &nbsp;
            </div>
            <div style="clear: both;"></div>
        </div>
