@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="main-content-wrapper">
            <h2 style="margin-left: 20px; margin-top: 7px;">Client Details Saved</h2>

            <div id="MainSection">
                <p style="margin-left:20px; color:white; font-weight: bold; font-size:large;">Client Details Saved to Database Succesfully.</p>
            </div>

            <div id="RightColSection">
                &nbsp;
            </div>
            <div style="clear: both;"></div>
        </div>
