@model CEEEPortal.Models.LoginModel
@if (!User.Identity.IsAuthenticated)
{
    <div>
        <div>&nbsp;</div>
        <label class="loginLabel">Employer Log in</label><br />
        <br />

        <span style="margin-left: 20px;">Email:</span><br />
        <input type="text" name="UserName" class="LoginText"><span class="error">@Html.ValidationMessageFor(p => p.UserName)</span><br /><br />

        <span style="margin-left: 20px;">Password:</span><br />
        <input type="password" name="Password" class="LoginText" /><span class="error">@Html.ValidationMessageFor(p => p.Password)</span><br />
        <br />
        <div>
            <div style="padding: 5px; margin-top: 7px;">
                <div>
                    <input type="submit" id="loginButton" name="loginButton" value="Enter!" />
                </div>
                <div id="forgetPassButton"><a href="/Account/ResetPassword">Forgotten your password?</a></div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
}
else
{
        <div>
            <div style="padding: 5px; padding-top:100px; color:blue;margin-left:15px;">
                @User.Identity.Name <br/>is logged in.
            </div>
            <div style="padding: 5px; padding-top:20px; margin-left:15px;">@Html.ActionLink("Sign Out","SignOut","Account")</div>
        </div>
}
