<div style="padding:15px;text-align: center;color:white;background-color: #404041;">
    <span style="padding:15px;">University Of West London, &copy; 2013. Telephone 0208 231 2700 <a href="mailto:careers@uwl.ac.uk" style="color:white;">careers@uwl.ac.uk</a> uwl.ac.uk</span><br/>
    <span style="padding:15px;"> Built and hosted by IT Services</span>
</div>