@{
    ViewBag.Title = "EmailSentPasswordReset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TwoColumnSection
{
    <div class="main-content-wrapper">
        <h2 style="margin-left: 20px; margin-top: 7px;">Email to reset password sent.</h2>
        @using (Html.BeginForm())
        {
            <div id="MainSection">
                <div style="margin-top:40px;">
                    @Html.Label("You will recieve an Email with a link to reset your password shortly", new {@class = "addhocMessageLabel"})
                    <div style="clear: both;"></div>
                </div>

            </div>
        }
        <div id="RightColSection">
            &nbsp;
        </div>
        <div style="clear: both;"></div>
    </div>
}